.userProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif !important;

    & h3 {
        text-align: center;
        width: 100%;
        color: #FE457A !important;
    }

    & h5 {
        color: #FE457A !important;
    }

    & form {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 50px;

        & > .rowInputContainer {
            display: flex;
            gap: 20px;
            width: 600px;
        }

        & .inputContainer {
            display: flex;
            flex-direction: column;
            width: 600px;
        }

        & input,
        & select {
            border: 1px solid gray;
            border-radius: 20px;
            font-family: 'Montserrat', sans-serif !important;
        }

        & button {
            background-color: #05A602;
            height: 50px;
            width: 300px;
            border: none;
            border-radius: 4px;
            color: white;
            margin: 25px auto;
            font-family: 'Montserrat', sans-serif !important;
        }
    }
}

.documents {
    width: 100%;
    height: fit-content;
    margin: 0 0 50px 150px;
    font-family: 'Montserrat', sans-serif !important;

    & h4 {
        color: #05A602;
        font-size: 18px;
    }

    & .documents_btns {
        display: flex;
        gap: 10px;

        & button {
            height: 40px;
            width: 180px;
            background-color: white;
            font-size: 14px;
            color: #BCC1CA;
            border: none;
            border-radius: 8px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            font-family: 'Montserrat', sans-serif !important;
        }

        & :first-child {
            color: #05A602;
            border: 1px solid #05A602;
        }
    }

    & p {
        color: #565E6C;
        margin: 15px 0;
        font-size: 14px;
    }
    & .requiredDocs {
        padding: 20px;
        display: flex;
        gap: 20px;
        align-items: center;

        & .docContainer {
            padding: 10px;
            width: 200px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 12px;

            & h3 {
                font-size: 14px;
                text-align: center;
            }

            & div {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #F1F1F1;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                color: #05A602;
                margin-bottom: 10px;

                & :first-child {
                    transform: scale(1.7);
                }
            }

            & input {
                background-color: #05A602;
                color: transparent;
                display: none;
            }

            & label {
                background-color: #05A602;
                padding: 10px  15px;
                color: white;
                border-radius: 10px;
                font-family: 'Montserrat', sans-serif !important;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .userProfile {
        & form {
            width: 90%;

            & > .rowInputContainer,
            & .inputContainer {
                width: 100%;
            }

            & button {
                width: 100%;
            }
        }
    }

    .documents {
        margin: 0 0 50px 0;

        & .documents_btns {
            flex-direction: column;
            gap: 5px;

            & button {
                width: 100%;
            }
        }

        & .requiredDocs {
            flex-direction: column;
            gap: 10px;

            & .docContainer {
                width: 100%;
            }
        }
    }
}

.rbt-dashboard-content-wrapper {
    position: relative;
    font-family: 'Montserrat', sans-serif !important;
  }
  
  .tutor-bg-photo {
    width: 100%;
    height: 245px;
    background-size: cover;
    background-position: center;
  }
  
  .rbt-tutor-information {
    display: flex;
    align-items: flex-end;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .rbt-tutor-information-left {
    margin-right: 20px;
  }
  
  .rbt-tutor-information-right {
    flex-grow: 1;
  }
  
  .rbt-tutor-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .rbt-tutor-role,
  .rbt-tutor-location,
  .rbt-tutor-date-started {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 5px;
  }
  
  .rbt-tutor-actions {
    margin-top: 10px;
  }
  
  .rbt-profile-bio-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;

    p {
      font-size: 10px!important;
      color: black!important;
      margin-bottom: 5px;

      strong {
        font-size: 10px!important;
        color: black!important;
      }
    }
  }

  .user-profile-header h5 {
    color: #FE457A !important;
    font-family: 'Montserrat', sans-serif !important;
  }

  .user-profile-header {
    background-color: #051C480D;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .profile-picture {
    margin-right: 40px;
    margin-left: 50px;

    img {
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .profile-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    p {
      color: #6c757d;
      margin-bottom: 8px;
      font-size: 16px;
    }
  }

  .profile-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }

  .edit-profile-button {
    background-color: transparent;
    color: #007bff;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
  }

  .send-message-button {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    i {
      margin-right: 8px;
      font-size: 16px;
    }

    &:hover {
      background-color: #f8f8f8;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .bio-section {
    border: 1px solid lightgray;
    border-radius: 8px;
    overflow: hidden;
    max-height: 300px;
    margin-left: 100px;

    h5 {
      margin: 0;
      color: #FE457A;
    }

    p {
      font-size: 12px;
      color: black;
      margin-bottom: 7px;
    }
  }

  .professional-bio {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 100px!important;
    width: 40% !important;

    h5 {
      margin: 0;
      color: #FE457A;
      font-family: 'Montserrat', sans-serif;
    }

    p {
      font-size: 10px !important;
      color: black !important;
      margin-bottom: 7px;
    }
  }

.program-journey-summary {
  color: #FE457A;
  margin-left: 80px;
}

.program-journey-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
}

.program-journey-items {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
}

.program-journey-item {
  text-align: center;
  margin: 0 10px;

  img {
    width: 50px;
    height: 50px;
  }

  p {
    font-size: 14px;
    margin-top: 5px;
  }
}
